# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Java / Spring Boot
# =========================
target/
*.jar
*.class
*.log

# Maven / Gradle
.mvn/
.gradle/
build/

# =========================
# Docker
# =========================
*.pid
docker-compose.override.yml

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Node (si jamais utilisé)
# =========================
node_modules/

# =========================
# Temporary files
# =========================
tmp/
temp/